{% load static %}

<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SmartFinder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'app/css/main.css' %}" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css"
        integrity="sha256-dMQYvN6BU9M4mHK94P22cZ4dPGTSGOVP41yVXvXatws=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>

<body>
    <nav class="navbar is-fixed-top">
        <div class="navbar-brand">
            <a class="navbar-item navigator" href="{% url 'app:index' %}" style="font-weight: bold;">
                SmartFinder
            </a>
        </div>

        <div id="navmenu" class="navbar-menu">
            <div class="navbar-start">
                {% if user.is_authenticated %}
                <a class="navbar-item navigator" href="{% url 'app:accounts' %}">
                    Accounts
                </a>
                {% endif %}
            </div>
            <div class="navbar-end">
                {% if user.is_authenticated %}
                <a class="navbar-item" href="{% url 'logout' %}">
                    Log Out
                </a>
                {% else %}
                <a class="navbar-item" href="{% url 'app:signup' %}">
                    Sign Up
                </a>
                <a class="navbar-item" href="{% url 'login' %}">
                    Log In
                </a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

</body>

</html>