{% extends "base.html" %}

{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                This is Pathfindr.
            </h1>
            <h2 class="subtitle">
                Discover new leads, dig into the details, and forge paths of opportunity you haver have before.
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box">
                    <h1 class="title">
                        Integrate
                    </h1>
                    <h2 class="subtitle">
                        all your favorite APIs.
                    </h2>
                    <hr>
                    <div class="content">
                        <p>
                            Pathfindr's extensive integration marketplace and custom integration system
                            enables you to plug and play with almost any modern data API.
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <div class="header">
                        <h1 class="title">
                            Explore
                        </h1>
                        <h2 class="subtitle">
                            diverse collections of data.
                        </h2>
                    </div>
                    <hr>
                    <div class="body">
                        <div class="content">
                            <p>
                                Pathfindr dynamically synthesizes all data sources enabled to
                                create sets of relevant and useful data according to your preference.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <div class="header">
                        <h1 class="title">
                            Manage
                        </h1>
                        <h2 class="subtitle">
                            all of your records.
                        </h2>
                    </div>
                    <hr>
                    <div class="body">
                        <div class="content">
                            <p>
                                Pathfindr allows you to collect and manage your data in an
                                effective and efficient manner so you can focus on driving your operations.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}