{% extends "base.html" %}

{% block content %}

<section class="section">
    <div class="columns is-centered">
        <div class="column is-one-third">
            <div class="card">
                <div class="card-content">
                    <h1 class="label subtitle">Log in to enrich data.</h1>
                    <hr>
                    <form class="form" method="POST" action="{% url 'login' %}">{% csrf_token %}
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" name="username" placeholder="Username">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" class="button is-primary">
                                    Log In
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            {% if error %}
            <div class="message is-danger">
                <div class="message-body">
                    Your username and/or password are incorrect.
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}