<h4>Hello, {name}!</h4>
<p>First of all, welcome to ax-s! You're about to give your codebase a massive break from way too much boilerplate code.</p>
<p>If you just signed up for ax-s with this email, here's your user token:</p>
<p><b style="color: #00d1b2;">{token}</b></p>
<p>If you didn't, go ahead and disregard this. And no, you can't hack us with just this token.</p>
<p><i>You little deviant.</i></p>
<p>Head to <a href="easy.ax-s.io" style="color: #00d1b2;">easy.ax-s.io</a> to get started!</p>
<p>Cheers,</p>
<p><b>The ax-s Team</b></p>