{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {% for api in apis %}
            <div class="column is-3">
                <a href="{% url 'app:view' api.name %}">
                    <div class="card card-linked">
                        <div class="card-content">
                            <p class="title is-4">{{ api.name }}</p>
                            <p class="subtitle is-6 url">{{ api.base }}</p>
                            <p class="content">{{ api.description }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% if apis.count < 4 %}
            <div class="column is-3">
                <div class="card card-linked">
                    <footer class="card-footer">
                        <a class="card-footer-item" href="{% url 'api:api-add' %}">Add API</a>
                    </footer>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}