{% load static %}

<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ax-s</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'app/img/favicon.ico' %}"/>

    <!-- INTERNAL REFS -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'app/css/main.css' %}" />

    <!-- EXTERNAL REFS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" integrity="sha256-dMQYvN6BU9M4mHK94P22cZ4dPGTSGOVP41yVXvXatws=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text|Open+Sans" rel="stylesheet">
</head>
<body>
    <nav class="navbar is-fixed-top {% if request.user.is_authenticated %}logged-in{% endif %}">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'app:index' %}">
                <img src="{% static 'app/img/logo.png' %}">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navmenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navmenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item navigator" href="{% url 'app:index' %}">
                    home
                </a>
                <a class="navbar-item navigator" href="{% url 'app:about' %}">
                    about
                </a>
                <a class="navbar-item navigator" href="{% url 'app:docs' %}">
                    docs
                </a>
                {% if user.is_authenticated %}
                <a class="navbar-item navigator" href="{% url 'app:apis' %}">
                    apis
                </a>
                {% endif %}
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if user.is_authenticated %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-item">
                                {{ user.username }} <i class="fas fa-caret-down fa-fw"></i>
                            </a>
                            <div class="navbar-dropdown is-right">
                                <a class="navbar-item" href="{% url 'app:profile' %}">
                                    profile
                                </a>
                                <hr class="navbar-divider">
                                <a class="navbar-item" href="{% url 'app:logout' %}">
                                    logout
                                </a>
                            </div>
                        </div>
                        {% else %}
                        <a class="button is-primary is-rounded signup" href="{% url 'app:signup' %}">
                            Sign Up
                        </a>
                        <a class="button is-rounded"  href="{% url 'app:login' %}">
                            Log In
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <section class="section">
        <div class="container">
        </div>
    </section>
    <div id="wrapper"></div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p class="title">
                <img style="height: 2rem;" src="{% static 'app/img/logo.png' %}">
            </p>
            <p class="content">
                <a class="button" href="{% url 'app:terms' %}">Terms & Conditions</a>
                <a class="button" href="{% url 'app:privacy' %}">Privacy Policy</a>
            </p>
            <p class="content">
                <small>Copyright 2019 by Elliott Maguire. All rights reserved.</small>
            </p>
        </div>
    </footer>
</body>
</html>