{% extends "base.html" %}

{% block content %}

<section class="hero">
    <div class="container">
        <div class="hero-body">
            <h1 class="title">
                The SmartSheets mass-enrichment platform.
            </h1>
            <h2 class="subtitle">
                A tool for SmartRecruiters.
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <div class="card">
                    <div class="card-content">
                        <p class="subtitle">
                            Get quality contacts.
                        </p>
                        <p class="content">
                            With the power of effective integrations and advanced
                            automation services, users can enrich large sets of lead data easily.
                        </p>
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="card">
                    <div class="card-content">
                        <p class="subtitle">
                            Find quality insights.
                        </p>
                        <p class="content">
                            SmartSheets combines several different data sources to deliver
                            the highest quantity of accurate data possible.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}